pipeline/child_pl.json
{
	"name": "child_pl",
	"properties": {
		"activities": [
			{
				"name": "metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "azdatalakedataset",
						"type": "DatasetReference",
						"parameters": {
							"source_folder": {
								"value": "@pipeline().parameters.source_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "onlyfiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "foreach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "onlyfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('onlyfiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "extractingdata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "adlsdatamigrate",
									"type": "DatasetReference",
									"parameters": {
										"source_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "blobdatamigrate",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"id": {
				"type": "string"
			},
			"job_name": {
				"type": "string"
			},
			"stg_table": {
				"type": "string"
			},
			"target_table": {
				"type": "string"
			},
			"proc_name": {
				"type": "string"
			},
			"source_folder": {
				"type": "string"
			}
		},
		"folder": {
			"name": "salesdata"
		},
		"annotations": []
	}
}